<form method="post" class="mt-16">
    {% csrf_token %}
    <div>
        <h1 class="font-bold text-blue-600"> {{ form.title.label }}</h1>
        <div class="border p-3 text-md focus:outline-none focus:ring-0 focus:ring-offset-0 border-blue-300">{{ form.title }}</div>
    </div>
    <div>
        <h1 class="font-bold text-blue-600"> {{ form.short_description.label }}</h1>
        <div class="border p-3 text-md focus:outline-none focus:ring-0 focus:ring-offset-0 border-blue-300">{{ form.short_description }}</div>
    </div>
    <div>
        <h1 class="font-bold text-blue-600">Tags</h1>
        <label>
            <select name="tags" multiple
                    class="border p-3 text-md focus:outline-none focus:ring-0 focus:ring-offset-0 border-blue-300">
                {% for tag in form.tags.field.queryset %}
                    <option value="{{ tag.pk }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div>
        <h1 class="font-bold text-blue-600"> {{ form.content.label }}</h1>
        <div class="w-full mx-auto container">
            {{ form.content|safe }}
        </div>
    </div>
    <div>
        <label>
            <input type="checkbox" name="visible" value="visible" checked
                   class="cursor-pointer p-3 bg-blue-300 text-blue-600 rounded text-2xl mt-3 font-bold">
        </label>
        <label for="visible" class="text-blue-600">Visible</label>
    </div>
    <input type="submit" value="Submit" style="margin-top: 5px;"
           class="cursor-pointer p-3 bg-blue-300 text-blue-600 rounded text-2xl mt-3 font-bold">
</form>